*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Roboto', sans-serif;
}
section{
    margin: 50px 100px;
}

.color-txt{
    color: darkcyan;
}

.flex{
    display: flex;
    justify-content: space-between;
}
.head-text{
    width: 40%;
    padding: 50px 0;
    
}
.head-title{
    font-size: 30px;
    border-left: 2px solid darkcyan;
    padding-left: 15px;
}
p{
    padding: 30px 0;
    color: rgb(73, 72, 72);
    text-align: justify;
}
.btn{
    padding: 10px 16px;
    background-color: 	#990000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.head-img{
    width: 30%;
}
.head-img img{
    width: 85%;
}
.title{
    text-align: center;
    padding-bottom: 30px;
}
.container-mision div{
    width: 30%;
    border-radius: 10px;
    padding: 15px;
}
.container-mision div img{
    width: 150px;
}
#mission{
    background-color: bisque;
}
#vission{
    background-color: rgb(238, 192, 234);
}
#goal{
    background-color: rgb(192, 207, 240);
}
.limit-img{
    width: 50%;
}
.limit-img img{
    width: 80%;
    padding: 20px;
}
.limit-text{
    width: 40%;
    padding: 50px 0;
    
}
.limit{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: 250px;
    background-size: contain;
}

.bgsap{ 
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
footer{
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 40px;
}

